<div class="sidebar-container">
  <div class="logo">
    <img src="assets/white-logo.svg"  />
  </div>
  <nav>
    <ul>
      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
        <div>
          <i class="fa-sharp fa-solid fa-border-all"></i> <span>dashboard</span>
        </div>
      </a>
      <a [routerLink]="['/resources']" routerLinkActive="router-link-active">
        <div><i class="fa-solid fa-earth-asia"></i> <span>Resources</span></div>
      </a>
      <a class="materials">
        <div>
          <div class="underscore"></div>
          <span style="opacity: 1">materials</span>
        </div>
        <div>
          <div class="point"></div>
          <span>energy</span>
        </div>
        <div>
          <div class="point"></div>
          <span>poweres</span>
        </div>
      </a>
      <a
        [routerLink]="['/manufacturing']"
        routerLinkActive="router-link-active"
      >
        <div>
          <i
            class="fa-sharp fa-solid fa-industry"
            style="font-size: 1.3rem"
          ></i>
          <span>Manufacturing</span>
        </div>
      </a>
      <a [routerLink]="['/machines']" routerLinkActive="router-link-active">
        <div><i class="fa-solid fa-wrench"></i> <span>Machines</span></div>
      </a>
      <a style="cursor: text">
        <div>
          <i class="fa-solid fa-arrows-turn-to-dots"></i><span>planning</span>
        </div>
      </a>
      <a style="cursor: text">
        <div>
          <i class="fa-solid fa-triangle-exclamation"></i>
          <span>issues</span>
        </div>
      </a>
    </ul>
  </nav>
  <div class="out-setting">
    <ul>
      <a style="cursor: text">
        <div>
          <img src="assets/setting.png"  />
          <span>setting</span>
        </div>
      </a>
      <a style="cursor: text">
        <div>
          <img src="assets/logout.png"  />
          <span>logout</span>
        </div>
      </a>
    </ul>
  </div>
</div>
