<div class="form-background">
  <div class="form-container head-hight">
    <div class="head" style="height: 2.4rem;">
      <i class="fa-solid fa-eye"></i>      <span>View Properties</span>

      <div class="exit" (click)="hideForm()">x</div>
    </div>
    <div class="change-form">
      <div class="process-btns">
        <div class="activeProcess">kBis</div>
        <div>currenty</div>
        <div>compraision</div>
      </div>
    </div>
    <div class="functi-container">
      <div class="layers-wrapper">
        <div class="layer"></div>
        <span>OEE</span>
        <div class="layer"></div>
        <span>avalability</span>
        <div class="layer"></div>
        <span>Quality</span>
        <div class="layer"></div>
        <span>Preformance</span>
        <div class="layer"></div>
        <span>function</span>
        <div class="layer"></div>
        <span>function</span>
        <div class="layer"></div>
        <span>function</span>
        <div class="layer"></div>
        <span>function</span>
        <div class="layer"></div>
        <span>function</span>
        <div class="layer"></div>
        <span>function</span>
        <div class="layer"></div>
        <span>function</span>
        <div class="layer"></div>
        <span>function</span>
      </div>
    </div>
    <div class="send-container">
      <div class="send-btns">
        <button class="cancele" (click)="hideForm()">cancle</button>
        <button class="send" (click)="hideForm()">save</button>
      </div>
    </div>
  </div>
</div>
