<div class="header-container">
  <div class="factory-group">
    <ul>
      <div class="factory-name">
        <i style="font-size: 1.2rem" class="fa-solid fa-building"></i>
        <p class="active">factory name</p>
        <i class="fa-sharp fa-solid fa-angle-down"></i>
      </div>
      <i class="icon3 fa-sharp fa-solid fa-network-wired"></i>
      <i class="icon fa-solid fa-rocket"></i>
    </ul>
  </div>
  <div class="date">
    <ul>
      <i class="active">today</i>
      <i>yesterday</i>
      <i>last week</i>
      <i class="icon fa-solid fa-calendar-day"></i>
    </ul>
  </div>
</div>
