<div class="parent">
  <header>
    <ul>
      <i>
        <a
          (click)="onTheLine()"
          [ngClass]="{ 'active-header': resourceHead == 'theLine' }"
          >the line</a
        >
      </i>
      <i
        (click)="onSupply()"
        [ngClass]="{ 'active-header': resourceHead == 'supply' }"
        >supply</i
      >

      <i
        (click)="consumption()"
        [ngClass]="{ 'active-header': resourceHead == 'consumption' }"
        >consumption</i
      >
      <i
        (click)="scrap()"
        [ngClass]="{ 'active-header': resourceHead == 'scrap' }"
        >product & scrap</i
      >
    </ul>
  </header>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="sidebar">
    <app-rsidebar></app-rsidebar>
  </div>
  <div class="resources-container">
    <div class="extension">
      <h4>
        resources / materials /
        <span *ngIf="resourceHead == 'theLine'"> the line</span>
        <span *ngIf="resourceHead == 'supply'"> supply</span>
        <span *ngIf="resourceHead == 'consumption'"
          >consumption
          <span *ngIf="processNav == 'process'"> / process</span>
          <span *ngIf="processNav == 'routes'"> / routes</span>
          <span *ngIf="processNav == 'order'"> / jpb order</span>
        </span>
        <span *ngIf="resourceHead == 'scrap'"> product & scrap</span>
      </h4>
    </div>
    <div class="add">
      <div class="process-btns" *ngIf="resourceHead == 'consumption'">
        <div
          (click)="onProcess()"
          (click)="hideNested = !hideNested"
          [ngClass]="{ activeProcess: processNav == 'process' }"
        >
          process
        </div>
        <div
          (click)="onRoutesB()"
          [ngClass]="{ activeProcess: processNav == 'routes' }"
          (click)="hideNested = !hideNested"
        >
          routes
        </div>
        <div
          (click)="onorderB()"
          [ngClass]="{ activeProcess: processNav == 'order' }"
        >
          job order
        </div>
      </div>
      <button
        *ngIf="resourceHead == 'supply'"
        [routerLink]="['form']"
        routerLinkActive="router-link-active"
      >
        <span style="font-size: 1.3rem">+</span> add new
      </button>
    </div>
    <div class="serach1" (click)="hideIcone()">
      <i class="fa-solid fa-magnifying-glass" *ngIf="!hideIcon"></i>
      <input
        type="search"
        placeholder="             search by material name-type"
      />
    </div>
    <div class="total-P alerts head-hight">
      <div class="head">
        <img src=" assets/leave.png" />
        <span>Material Consumption</span>
      </div>
      <div class="rate">
        <div class="actual-production">
          <div>3,020 <sub>km</sub></div>
          <span>actual production</span>
        </div>
        <div class="planned-production">
          <div>1,600 <sub>km</sub></div>
          <span>planned production</span>
        </div>
      </div>
      <div class="range">
        <div></div>
        75%
      </div>
    </div>
    <div class="supplyvs head-hight">
      <div class="head">
        <i class="fa-solid fa-signal"></i>
        <span>material supply vs demand</span>
      </div>
      <div class="hls-container">
        <div class="underLines">
          <div class="vline"></div>
          <div class="vline"></div>
          <div class="vline"></div>
          <div class="vline"></div>
          <div class="vline"></div>
          <div class="vline"></div>
          <div class="vline"></div>
        </div>
        <div class="colors-container">
          <div class="color-mean">
            <div class="color" style="background-color: #96adb8"></div>
            <span>drawing</span>
            <div class="color" style="background-color: #688d9f"></div>
            <span>drawing</span>
            <div class="color" style="background-color: #4c788d"></div>
            <span>drawing</span>
            <div class="color" style="background-color: #2c3e50"></div>
            <span>drawing</span>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alerts right-bar head-hight">
      <div class="head">
        <div class="point"></div>
        <span class="alert-title alerty">alerts</span>
      </div>
      <div class="item">
        <div class="icon-alert">
          <i class="fa-solid fa-leaf"></i>
          <span class="alert-type">machenes</span>
        </div>
        <div class="message-id-cont">
          <span class="message">confirm loz on machine</span>
          <div class="id"><span>ID</span> <span>53362005</span></div>
        </div>
      </div>
      <div class="item">
        <div class="icon-alert">
          <i class="fa-solid fa-leaf"></i>
          <span class="alert-type">machenes</span>
        </div>
        <div class="message-id-cont">
          <span class="message">confirm loz on machine</span>
          <div class="id"><span>ID</span> <span>53362005</span></div>
        </div>
      </div>
      <div class="item">
        <div class="icon-alert">
          <i class="fa-solid fa-leaf"></i>
          <span class="alert-type">machenes</span>
        </div>
        <div class="message-id-cont">
          <span class="message">confirm loz on machine</span>
          <div class="id"><span>ID</span> <span>53362005</span></div>
        </div>
      </div>
      <div class="item">
        <div class="icon-alert">
          <i class="fa-solid fa-leaf"></i>
          <span class="alert-type">machenes</span>
        </div>
        <div class="message-id-cont">
          <span class="message">confirm loz on machine</span>
          <div class="id"><span>ID</span> <span>53362005</span></div>
        </div>
      </div>
      <div class="item">
        <div class="icon-alert">
          <i class="fa-brands fa-envira"></i>
          <span class="alert-type">machenes</span>
        </div>
        <div>
          <span class="message">confirm loz on machine</span>
          <div class="id"><span>ID</span> <span>53362005</span></div>
        </div>
      </div>
      <div class="item">
        <div class="icon-alert">
          <i class="fa-brands fa-envira"></i>
          <span class="alert-type">performance</span>
        </div>
        <div>
          <span class="message">confirm loz on machine</span>
          <div class="id"><span>ID</span> <span>53362005</span></div>
        </div>
      </div>
      <div class="item">
        <div class="icon-alert">
          <i class="fa-brands fa-envira"></i>
          <span class="alert-type">performance</span>
        </div>
        <div>
          <span class="message">confirm loz on machine</span>
          <div class="id"><span>ID</span> <span>53362005</span></div>
        </div>
      </div>
    </div>
    <div class="tops head-hight">
      <div class="head tops-head">
        <i class="fa-solid fa-caret-down"></i>
        <i class="fa-solid fa-sort-up"></i> <span>top 3 / least 3 </span>
      </div>
      <div class="suppliers">
        <div class="supp-container">
          <div class="supplier">
            <div class="point" style="background-color: #ec5967"></div>
            <div class="supp-data">
              <div class="supp-name">supplier name</div>
              <small>material</small>
              <small>price</small>
            </div>
            <div class="supp-id">
              <div class="id">002533</div>
              <small>alumin</small>
              <small>1000</small>
            </div>
          </div>
          <div class="supplier">
            <div class="point" style="background-color: #c24854"></div>
            <div class="supp-data">
              <div class="supp-name">supplier name</div>
              <small>material</small>
              <small>price</small>
            </div>
            <div class="supp-id">
              <div class="id">002533</div>
              <small>alumin</small>
              <small>1000</small>
            </div>
          </div>
          <div class="supplier">
            <div class="point" style="background-color: #9b3842"></div>
            <div class="supp-data">
              <div class="supp-name">supplier name</div>
              <small>material</small>
              <small>price</small>
            </div>
            <div class="supp-id">
              <div class="id">002533</div>
              <small>alumin</small>
              <small>1000</small>
            </div>
          </div>
          <div class="supplier">
            <div class="point" style="background-color: #003f5cd8"></div>
            <div class="supp-data">
              <div class="supp-name">supplier name</div>
              <small>material</small>
              <small>price</small>
            </div>
            <div class="supp-id">
              <div class="id">002533</div>
              <small>alumin</small>
              <small>1000</small>
            </div>
          </div>
          <div class="supplier">
            <div class="point" style="background-color: #003f5ca9"></div>
            <div class="supp-data">
              <div class="supp-name">supplier name</div>
              <small>material</small>
              <small>price</small>
            </div>
            <div class="supp-id">
              <div class="id">002533</div>
              <small>alumin</small>
              <small>1000</small>
            </div>
          </div>
          <div class="supplier">
            <div class="point" style="background-color: #003f5c67"></div>
            <div class="supp-data">
              <div class="supp-name">supplier name</div>
              <small>material</small>
              <small>price</small>
            </div>
            <div class="supp-id">
              <div class="id">002533</div>
              <small>alumin</small>
              <small>1000</small>
            </div>
          </div>
        </div>
        <div class="distances">
          <div class="spaces">
            <div class="space">
              900<span>km</span>
              ---
            </div>
            <div class="space">
              800<span>km</span>
              ---
            </div>
            <div class="space">
              600<span>km</span>
              ---
            </div>
            <div class="space">
              400<span>km</span>
              ---
            </div>
            <div class="space">
              300<span>km</span>
              ---
            </div>
            <div class="space">
              100<span>km</span>
              ---
            </div>
          </div>
          <div class="color-type"></div>
        </div>
      </div>
    </div>
    <div class="materials-container head-hight">
      <div class="mats-parent" *ngIf="resourceHead == 'scrap'">
        <div class="head head-mats">
          <div class="material-title">
            <img src="assets/leave.png" />
            <h5>material supplier records</h5>
          </div>
          <div class="nav">
            <div
              (click)="lastNave = 'list'"
              (click)="chartOrList = 'list'"
              class="nav-item"
              [ngClass]="{ activey: lastNave == 'list' }"
            >
              <i class="fa-solid fa-list-ul"></i>
              <span>products list</span>
            </div>
            <div
              (click)="lastNave = 'chart'"
              (click)="chartOrList = 'chart'"
              class="nav-item"
              [ngClass]="{ activey: lastNave == 'chart' }"
            >
              <i class="fa-solid fa-chart-line"></i>
              <span>products chart</span>
            </div>
          </div>
        </div>

        <div *ngIf="chartOrList == 'list'">
          <input type="serch" placeholder="     search" />
          <table class="main-table">
            <tr>
              <th>output name</th>
              <th>output type</th>
              <th>data time</th>
            </tr>
            <tbody>
              <div *ngFor="let weicht of scraps">
                <tr (click)="weicht.show = !weicht.show" class="table-data">
                  <td>
                    <i class="fa-solid fa-circle-chevron-down down-row"></i
                    >{{ weicht.type }}
                    <div class="points-container">
                      <div class="points pnts">
                        <span
                          style="background-color: #ec5967; left: 29%"
                        ></span>
                        <span
                          style="background-color: #1a8383; left: 49%"
                        ></span>
                        <span
                          style="background-color: #59b4b4ce; left: 69%"
                        ></span>
                        <span
                          style="background-color: #831a69; left: 89%"
                        ></span>
                      </div>
                    </div>
                  </td>
                  <td>{{ weicht.type }}</td>
                  <td>{{ weicht.date | date }}</td>
                </tr>
                <div>
                  <table class="nested-table" *ngIf="weicht.show">
                    <tr class="thr">
                      <th>material iD</th>
                      <th>materyal type</th>
                      <th>weight recored</th>
                      <th>goil nubmer</th>
                      <th>supplier / job order</th>
                      <th>date time</th>
                    </tr>
                    <tbody>
                      <tr *ngFor="let data of nesttedMats3">
                        <td>
                          <span
                            class="point pt"
                            [style.background-color]="data.color"
                          ></span>
                          {{ data.id }}
                        </td>
                        <td>{{ data.id }}</td>
                        <td>{{ data.nWeight }}</td>
                        <td>{{ data.machine }}</td>
                        <td>{{ data.suppOrder }}</td>
                        <td>{{ data.date | date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <tr></tr>
              </div>
            </tbody>
          </table>
        </div>

        <div style="padding-top: 1rem" *ngIf="chartOrList == 'chart'">
          <app-chart3></app-chart3>
        </div>
      </div>
      <div *ngIf="resourceHead == 'theLine'">
        <div class="head head-mats">
          <div class="material-title">
            <img src="assets/leave.png" />
            <h5>material supplier records</h5>
          </div>
          <div class="nav">
            <div
              (click)="onList()"
              class="nav-item"
              [ngClass]="{ activey: currentRoute == 'list' }"
            >
              <i class="fa-solid fa-list-ul"></i>
              <span>material list</span>
            </div>
            <div
              (click)="onProfile()"
              class="nav-item"
              [ngClass]="{ activey: currentRoute == 'profile' }"
            >
              <i class="fa-solid fa-chart-line"></i>
              <span>material profile</span>
            </div>
          </div>
        </div>
        <div class="mats-parent" *ngIf="currentRoute == 'list'">
          <input type="serch" placeholder="     search" />

          <table class="main-table">
            <tr>
              <th>material type</th>
              <th>current weight</th>
              <th>last change</th>
              <th>last order data time</th>
            </tr>
            <tbody>
              <div *ngFor="let linemat of linemats">
                <tr (click)="linemat.show = !linemat.show" class="table-data">
                  <td>
                    <span
                      class="point pt"
                      [style.background-color]="linemat.color"
                    >
                    </span
                    >{{ linemat.type }}
                  </td>
                  <td>{{ linemat.weight }}</td>
                  <td>{{ linemat.lastChange }}</td>
                  <td>{{ linemat.date | date }}</td>
                </tr>
                <div>
                  <table class="nested-table" *ngIf="linemat.show">
                    <tr class="thr">
                      <th>change type</th>
                      <th>change value</th>
                      <th>material weight</th>
                      <th>supplier / machine</th>
                      <th>supplier / job order</th>
                      <th>date time</th>
                    </tr>
                    <tbody>
                      <tr *ngFor="let data of nestedMats">
                        <td>
                          <span
                            class="point pt"
                            [style.background-color]="linemat.color"
                          ></span>
                          {{ data.chType }}
                        </td>
                        <td>{{ data.chValue }}</td>
                        <td>{{ data.nWeight }}</td>
                        <td>{{ data.machine }}</td>
                        <td>{{ data.suppOrder }}</td>
                        <td>{{ data.date | date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <tr></tr>
              </div>
            </tbody>
          </table>
        </div>
        <div *ngIf="currentRoute == 'profile'">
          <div style="padding-top: 1rem">
            <app-chart1></app-chart1>
          </div>
        </div>
      </div>
      <div *ngIf="resourceHead == 'supply'">
        <div class="head head-mats">
          <div class="material-title">
            <img src="assets/leave.png" />
            <h5>material supplier records</h5>
          </div>
          <div class="nav">
            <div
              (click)="onSubbList()"
              class="nav-item"
              [ngClass]="{ activey: suppliesRoute == 'list' }"
            >
              <i class="fa-solid fa-list-ul"></i>
              <span>material list</span>
            </div>
            <div
              (click)="suppliesRoute = 'bubbles '"
              class="nav-item"
              [ngClass]="{ activey: suppliesRoute === 'bubbles ' }"
            >
              <i class="fa-solid fa-parachute-box"></i>
              <span>material supply</span>
            </div>
          </div>
        </div>
        <div
          style="display: flex; justify-content: center"
          class="mats-parent"
          *ngIf="suppliesRoute == 'list'"
        >
          <table class="suppliers-table">
            <tr>
              <th>material name</th>
              <th>category</th>
              <th>item code</th>
              <th>supplier code</th>
              <th>date</th>
            </tr>
            <tbody>
              <tr class="tr" *ngFor="let list of suppliersList">
                <td>{{ list.materialName }}</td>
                <td>{{ list.category }}</td>
                <td>{{ list.itemCode }}</td>
                <td>{{ list.supplierCode }}</td>
                <td>{{ list.date | date : "short" }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="suppliesRoute !== 'list'">
          <app-chart4></app-chart4>
        </div>
      </div>

      <div *ngIf="resourceHead == 'consumption'">
        <div class="head head-mats">
          <div class="material-title">
            <img src="assets/leave.png" />
            <h5>material supplier records</h5>
          </div>
          <div class="nav">
            <div
              (click)="onComsumptionList()"
              class="nav-item"
              [ngClass]="{ activey: consumptionChart == 'hide' }"
            >
              <i class="fa-solid fa-list-ul"></i>
              <span>material list</span>
            </div>
            <div
              (click)="onConChart()"
              class="nav-item"
              [ngClass]="{ activey: consumptionChart == 'show' }"
            >
              <i class="fa-solid fa-chart-line"></i>
              <span>consumption chart</span>
            </div>
          </div>
        </div>
        <div
          class="mats-parent"
          *ngIf="
            (processNav == 'order' && consumptionChart == 'hide') ||
            (processNav == 'routes' && consumptionChart == 'hide')
          "
        >
          <input type="serch" placeholder="     search" />
          <table class="main-table">
            <tr>
              <th>scale iD</th>
              <th>last scale type</th>
              <th>last material</th>
              <th>last order data time</th>
            </tr>
            <tbody>
              <div *ngFor="let weicht of orders">
                <tr (click)="weicht.show = !weicht.show" class="table-data">
                  <td>
                    {{ weicht.type }}
                    <div class="points-container">
                      <div class="points">
                        <span
                          style="background-color: #ec5967; left: 24%"
                        ></span>
                        <span
                          style="background-color: #1a8383; left: 36%"
                        ></span>
                        <span
                          style="background-color: #59b4b4ce; left: 46%"
                        ></span>
                        <span
                          style="background-color: #831a69; left: 56%"
                        ></span>
                      </div>
                    </div>
                  </td>
                  <td>{{ weicht.weight }}</td>
                  <td>{{ weicht.lastChange }}</td>
                  <td>{{ weicht.date | date }}</td>
                </tr>
                <div>
                  <table class="nested-table" *ngIf="weicht.show || hideNested">
                    <tr class="thr">
                      <th>material iD</th>
                      <th>materyal type</th>
                      <th>weight recored</th>
                      <th>goil nubmer</th>
                      <th>supplier / job order</th>
                      <th>date time</th>
                    </tr>
                    <tbody>
                      <tr *ngFor="let data of nesttedMats3">
                        <td>
                          <span
                            class="point pt"
                            [style.background-color]="data.color"
                          ></span>
                          {{ data.id }}
                        </td>
                        <td>{{ data.id }}</td>
                        <td>{{ data.nWeight }}</td>
                        <td>{{ data.machine }}</td>
                        <td>{{ data.suppOrder }}</td>
                        <td>{{ data.date | date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <tr></tr>
              </div>
            </tbody>
          </table>
        </div>
        <div
          class="mats-parent"
          *ngIf="processNav == 'process' && consumptionChart == 'hide'"
        >
          <input type="serch" placeholder="     search" />
          <table class="main-table">
            <tr>
              <th>material type</th>
              <th>current weight</th>
              <th>functions</th>
              <th>last change</th>
              <th>last order data time</th>
            </tr>
            <tbody>
              <div *ngFor="let linemat of linemats">
                <tr (click)="linemat.show = !linemat.show" class="table-data">
                  <td>
                    {{ linemat.type }}
                  </td>
                  <td>{{ linemat.weight }}</td>
                  <td>function</td>
                  <td>{{ linemat.lastChange }}</td>
                  <td>{{ linemat.date | date }}</td>
                </tr>
                <tr></tr>
              </div>
            </tbody>
          </table>
        </div>
        <div class="routes" *ngIf="consumptionChart == 'show'">
          <div class="route">
            <div class="route-number">process 05</div>
            <div class="route-line">
              <div class="line">
                <div class="amount c" style="background-image: none"></div>
              </div>
            </div>
          </div>
          <div class="route">
            <div class="route-number">process 04</div>
            <div class="route-line">
              <div class="line">
                <div class="amount c" style="background-image: none"></div>
              </div>
            </div>
          </div>
          <div class="route">
            <div class="route-number">process 03</div>
            <div class="route-line">
              <div class="line">
                <div class="amount c" style="background-image: none"></div>
              </div>
            </div>
          </div>
          <div class="route">
            <div class="route-number">process 02</div>
            <div class="route-line">
              <div class="line">
                <div class="amount c" style="background-image: none"></div>
              </div>
            </div>
          </div>
          <div class="route">
            <div class="route-number">process 01</div>
            <div class="route-line">
              <div class="line">
                <div class="amount c" style="background-image: none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
